<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Directorio
    </ion-title>
    <ion-buttons slot="end" *ngIf="(data | async) as folderData">
      <ion-button size="large" (click)="newFolder(folderData)">
        <ion-icon name="folder"></ion-icon>
      </ion-button>
      <ion-button size="large" (click)="folderInfo(folderData)">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="data | async; then loaded else loading">
    <!-- template will replace this div -->
  </div>
  <ng-template #loaded>
    <div class="grid-container">
        <div class="main-view" padding [ngClass]="{
          span_2: !aside.component
        }">
            <ion-grid>
              <ion-row>
                <ion-col *ngFor="let item of (children | async)" size="auto">
                  <ion-card [routerLink]="['/directory', item.id]" routerDirection="forward">
                    <ion-icon name="folder" size="large"></ion-icon>
                    <strong>{{item.name}}</strong>
                  </ion-card>
                </ion-col>
                <ion-col *ngFor="let item of (folder | async)?.files" size="auto">
                  <ion-card (click)="selectFile(item)">
                    <ion-icon name="document" size="large"></ion-icon>
                    <strong>{{item}}</strong>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div *ngIf="aside.show">
            <aside class="aside-view" [ngSwitch]="aside.component">
                <app-create-folder *ngSwitchCase="'folder_form'" [data]="aside"></app-create-folder>
                <app-info-folder *ngSwitchCase="'folder_info'" [folder]="aside.folder"></app-info-folder>
                <p *ngSwitchCase="'file_details'">
                  file_details
                </p>
              </aside>
          </div>
    </div>
  </ng-template>
  <ng-template #loading>
    <h1>Loading...</h1>
  </ng-template>
</ion-content>
