ion-card {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 40px;

    justify-items: center;
    align-items: center;

    strong {
        padding: 0 10px
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 70% 30%;

    .main-view {
        &.span_2 {
            grid-column: span 2 / auto;
        }
    }
    .aside-view {
        background-color: #eee;
    }
}